<!DOCTYPE html>

<html lang="en">
    <img src="/static/img/Nuix.Investigate.Banner.jpg">
	<head>
        <meta charset="utf-8" />
        <title>Nuix Risk Score</title>
		
        <link rel="stylesheet" href="/static/css/stoplight.css?v=1.0" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
        <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
        />
    </head>

    <body>
        <div id="root"></div>

        <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script
            crossorigin
            src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
        ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-react/0.88.1/semantic-ui-react.min.js"></script>
        <script crossorigin src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

        <script type="text/babel" src="/static/js/stoplight.js"></script>
    </body>
</html>
